$bg: #c4bcd8;
$border: #958abe;
$focused: #7065a1;
$nonfocused: #fffeff;
$urgent: #8d59ae;
$song_color: #fffeff;
$spotify: #8d95cc;
$preselect: #a0aed7;

* {
  all: unset;
}

.emibar {
  font-size: 14px;
  background-color: $bg;
  border: 4px solid $border;
  border-radius: 3px;
}

.workspaces {
  font-family: "Hack Nerd Font";
  font-size: 16px;
  margin-right: 0px;
  margin-left: 4px;

  .workspace-entry {
    padding: 0px 0.01px;
    margin: 0px 0.01px;
    &:hover {
      color: $preselect;
      transition: color 0.25s;
    }
  }

  .occupied {
    color: $nonfocused;
  }

  .current {
    color: $focused;
  }

  .current:hover {
    color: $preselect;
    transition: color 0.25s;
  }

  .noncurrent:hover {
    color: $preselect;
    transition: color 0.25s; 
  }

  .urgent {
    color: $urgent;
  }
  
   .empty {
    color: $nonfocused;
  }
}

.volume {
  .label {
    font-family: "Hack Nerd Font";
    font-size: 24px;
    color: $border;
  }

  .label:hover {
    color: $song_color;
  }

  .volume_slider trough {
    all: unset;
    min-width: 120px;
    min-height: 7px;
    border-radius: 6px;
    background-color: $bg;
    margin-right: 10px;
    margin-top: 2px;
    margin-left: 10px;
    color: #000000;
    border-style: solid;
    border-width: 2px;
    border-color: $border;
  }

  .volume_slider trough highlight {
    background-color: $preselect;
    border-radius: 8px;
  }
}

.battery_symbol {
  font-family: "Hack Nerd Font";
  font-size: 20px;
}

.time {
  /* font-family: "Hack Nerd Font"; */
  font-size: 14px;
  font-weight: bold;
  margin-right: 4px;

}

.spotify {
  color: $song_color;
  font-family: "Hack Nerd Font";
  font-size: 12px;
  font-weight: bold;

  .song_label {
    font-size: 18px;
    color: $border;
  }

  .spotify_controls {
    font-size: 20px;
    margin-right: 13px;
    margin-left: 10px;

    .next-button:hover {
      color: $border;
      transition: color 0.5s;
    }
  }
}

.spotify_dropdown {
  font-size: 15px;
  background-color: $bg;
  border: 5px solid $border;
  border-radius: 8px;
  font-family: "Hack Nerd Font";
  font-weight: bold;
  padding-top: 30px;
  padding-bottom: 30px;

  .title_dropdown {
    font-size: 18px;
  }

  .spotify_dropdown_controls {
    font-size: 30px;

    .pause {
      margin-left: 20px;
      margin-right:20px;
    }

    .prev:hover {
        color: $preselect;
        transition: color 0.25s;
    }

    .pause:hover {
        color: $preselect;
        transition: color 0.25s;
    }

    .next:hover {
        color: $preselect;
        transition: color 0.25s;
    }
  }
}


